node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitattributes
.gitignore
.github
README.md
LICENSE
.vscode
.env
.env.example
.editorconfig
.idea
.prettierignore
.prettierrc.json5
test
TODO.md
coverage*
./data
