# Factorio Mod Portal credentials
FACTORIO_USERNAME=your_username
FACTORIO_TOKEN=your_token

# Data directory (stores cache + reports)
DATA_DIR=./data

# Cache settings
DISABLE_DISK_CACHE=false
CACHE_EXPIRY_MS=2592000000 # 30 days in milliseconds, 86400000 for 1 day
MODPORTAL_CACHE_DIR=./data/cache/modportal

# Skip loading scan cache (useful for testing)
SKIP_LOADING_SCAN_CACHE=false


# ClamAV
DISABLE_CLAMAV=false

# Override individual paths (optional)
CACHE_DIR=./data/cache
REPORTS_DIR=./data/reports
INDEX_PATH=./data/cache/scanned.json

# Rule file paths
CLUTTER_RULES_PATH=./data/clutter-rules.json5
IMAGE_RULES_PATH=./data/image-rules.json5

# WebSocket server
SERVER_PORT=8080
SERVER_HOST=localhost
WS_LOG=false
